.news {
  padding: 70px 0;
  background-color: white;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.top h2 {
  color: #062b6f;
  font-size: 34px;
  font-weight: 800;
}

.top a {
  color: #062b6f;
  font-weight: 700;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  background-color: #f7f8fb;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.card:hover {
  transform: translateY(-6px);
}

.image {
  height: 220px;
  background:
    url("https://images.unsplash.com/photo-1581578731548-c64695cc6952?q=80&w=1200&auto=format&fit=crop")
      center/cover no-repeat;
}

.content {
  padding: 22px;
}

.content span {
  color: #9b0000;
  font-size: 14px;
  font-weight: 700;
}

.content h3 {
  color: #062b6f;
  font-size: 24px;
  margin: 14px 0;
  line-height: 1.4;
}

.content p {
  color: #555;
  line-height: 1.7;
}

@media (max-width: 768px) {
  .news {
    padding: 45px 0;
  }

  .top {
    align-items: flex-start;
    gap: 12px;
  }

  .top h2 {
    font-size: 32px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .image {
    height: 240px;
  }

  .content h3 {
    font-size: 22px;
  }
}